body
{
	  background-image: url("../Images/Log.jpg");
	  background-repeat:no-repeat;
	  background-size:100%;
	  
}
*
{
	box-sizing: border-box;
    font-family:Verdana;
    color:white;
}
input[type=text], input[type=password], input[type=email],input[type=email]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #454545;
  background-color: white;
  color:black;
}

input[type=text]:focus, input[type=password]:focus,input[type=email]:focus {
   background-color: white;
   outline: none;
   color:black;
}
 select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color:black;
}
select option { color: black; }
Button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

Button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #9c949e;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
 
}
.signupbtn {
      color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
    float: left;
  width: 50%;
   background-color: #f5be23;
}

.loginbtn {
        color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
    float: left;
  width: 50%;
   background-color: #9c949e;
   
}
.container {
  margin-left:9%;
  margin-right:50%;
  margin-top:15%;
  margin-bottom:10%;
  
  
}
