<!DOCTYPE html>
<html>
	<title>Thank You</title><head>

    <link rel="stylesheet" href="ThankYouStyle.css">
</head>
	<body>
		<nav>
		   <div class="logo">
			 <img src="../images/u.png" class="img-fluid">
		   </div>
		   <ul>
			 <li><a href= "UserHome.aspx">Home</a></li>
		   </ul>
		 </nav>
		 <div class="header"><h1><span>Thank You<span><h1/></div>
		<div id="footer">
			<h4>We are a great travel agency</h4>
		</div>
		
		
		
		<script>
			function myFunction()
			{
				document.getElementById("Footer").style.display = "block";
			}
		</script>
	</body>
	
</html>